{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>BMI Calculator</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static "css/calc.css" %}">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"
  			integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  			crossorigin="anonymous">
  	</script>
</head>
<body>
  <div class="container">
		<div class="jumbotron">
			<h1 class="display-3">BMI Calculator</h1>
		</div>

    <textarea id="" cols="30" rows="1" placeholder="Enter your height (cm)"></textarea>
    <textarea id="" cols="30" rows="1" placeholder="Enter your weight (kg)"></textarea>
    
    <textarea id="resultArea" readonly rows="3" cols="21" placeholder="Result"></textarea>
    <table>
      <tr>
        <td><button id="clrTxt" class="btn btn-danger">Calculate</button></td>
      </tr>
    </table>
	<script type="text/javascript" src="{% static "js/calc.js" %}"></script>
</body>
</html>