table{
  margin-left:auto; 
  margin-right:auto;
}

textarea{
  display: block;
  margin-bottom: 8px;
  margin-left:auto; 
  margin-right:auto;
  border-radius: 5px;
}

button{
  height: 40px;
  width: 90px;
}